// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

@import '../node_modules/bootstrap/scss/bootstrap';

$black: #09292e;
$light: #fafafa;
$colorPrimario: #e5d990;
$colorSecundario: #198754;
$colorBlue: #2299bc;
.cursor-pointer {
  cursor: pointer impr !important;
}
